header {
  height: 5rem;
  min-height: 5rem;
  display: flex;
  color: white;
  display: flex;
  justify-content: space-between;
  background-color: white;
  /* transition: height 400ms; */
  padding: 0 2rem;
}

.header-left {
  display: flex;
  align-items: center;
  min-height: 5rem;
  color: black;
}

.header-right {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
}

.list-item {
  /* display: none; */
  color: black;
  list-style-type: none;
  padding-left: 1rem;
}
